
<style>
    body {
        background-color: black;
    }

    p {
        color: red;
    }
</style>
<div>
    <% errors.forEach((error) => { %>
        <p class="error"><%= error.msg %></p>
    <%}) %>
</div>