<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="styles.css">
	<title>Fsociety Skiddie Club</title>
</head>


<% if (currentUser.member_status === 'admin') {%>

<script>
	async function deleteMessage(messageId) {
		const confirmDelete = confirm('Are you sure you want to delete this message?')
		if (!confirmDelete) {
			return
		}

		await fetch(`/deleteMessage/${messageId}`, {
			method: "DELETE"
		})

		window.location.reload()
	}
</script>
<%} %>

<body>
	<div class="wrapper">
		<nav class="navbar">
			<% if (currentUser) {%>
			<p class="userName"><span class="navSpan">User: </span><%= currentUser.username%></p>
			<p class="userStatus"><span class="navSpan">Status: </span><%= currentUser.member_status  %></p>
			<a href="/logout">Log out</a>
			<%}%>
	</nav>


	</div>

	<% if (currentUser.member_status === 'guest') {%>
			<button command="show-modal" commandfor="joinForm">Join the club</button>
			<dialog id="joinForm">
				<form action="/join" method="POST">
					<label for="passcode">Enter the secret passcode</label>
					<input type="text" name="passcode" id="passcode" placeholder="hint: the shows name" required>
					<button type="submit">Join</button>
					<button type="button" commandfor="joinForm" command="close">Close</button>
				</form>
			</dialog>

			<%} %>

			<img class="indexImg" src="/images/fsociety.jpg" alt="fsociety ascii art">

			<button command="show-modal" commandfor="postMessage">Post message</button>
			<dialog id="postMessage">
				<form action="/postMessage" method="POST">
					<label for="title">Title</label>
					<input type="text" name="title" id="title" required>
					<label for="body">Body</label>
					<textarea name="body" id="body" required></textarea>
					<button type="submit">Post</button>
					<button type="button" commandfor="postMessage" command="close">Cancel</button>
				</form>
			</dialog>

			<div class="userMessages">
				<% userMessages.forEach((userMsg) => {%>
				<%- include("message", {msg: userMsg, memberStatus: currentUser.member_status, currentUsername: currentUser.username}) %>
				<%}) %>
			</div>


</body>

</html>