<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="styles.css">
	<title>Sign Up</title>
</head>

<body>
	<h1>Sign Up</h1>
	<form action="/signup" method="POST">
		<label for="firstname">First name</label>
		<input id="firstname" name="firstname" placeholder="First name" type="text" required />

		<label for="lastname">Last name</label>
		<input id="lasttname" name="lastname" placeholder="Last name" type="text" required />
		<label for="username">Username</label>
		<input id="username" name="username" placeholder="Username" type="text" required />
		<label for="password">Password</label>
		<input id="password" name="password" type="password" placeholder="Password" required />
		<label for="confirmPassword">Confirm Password</label>
		<input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm password" required />
		<button type="submit">Sign Up</button>
	</form>
	<% if (locals.errors) { %>
	<%- include('partials/errors', {errors: errors})  %>
	<%} %>
</body>
<a href="/login">Log In</a>

</html>