body {
	background-color: black;
	color: white;
}

.message {
	border: 1px solid white;
}

form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 200px;
}

textarea {
	resize: none;
	height: 70px;
}
